//
   Created by shaddy on 26.05.16.
-   function getHeaderClass(type){
-       return "bar " + (type || "bar-stable");
-   }
mixin headerBar(type)
    //-
        type can be:
        bar-positive
        bar-calm
        bar-balanced
        bar-energized
        bar-assertive
        bar-royal
        bar-dark
    - type = "bar-header " + getHeaderClass(type)
    ion-header-bar(class!=type)&attributes(attributes)
        h1.title
            block
mixin subHeaderBar(type)
    - type = "bar-subheader " + getHeaderClass(type)
    ion-header-bar(class!=type)&attributes(attributes)
        h1.title
            block
